# Python virtual environments
venv/
.venv/
env/
.env/
ENV/
__pycache__/
.pytest_cache/
poetry.lock

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv environment variables file
.env
.env.test

# Mac temp files
servers/.DS_Store
data/.DS_Store
**/.DS_Store
.DS_Store

# Built docs
site/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vscode-server
# yarn cache
.yarn

# certs
*.pem
*.crt
*.key

# qlty config
.qlty
!.qlty/qlty.toml

# Docker
*.log
.dockerignore
docker-compose.override.yml
.docker/
**/docker-compose.override.yml

# Container runtime files
*.tar
*.tar.gz
*.tgz
.container-*

# keep only example files in DTaaS config
workspaces/test/dtaas/config/*
!workspaces/test/dtaas/config/client.js.example
!workspaces/test/dtaas/config/conf.example
!workspaces/test/dtaas/config/.env.example

# ignore DTaaS user files
workspaces/test/dtaas/files/**
!workspaces/test/dtaas/files/.gitkeep
!workspaces/test/dtaas/files/**/.gitkeep

# ignore DTaaS certs but keep explanation and custom forward-auth docker file
workspaces/test/dtaas/certs/**
!workspaces/test/dtaas/certs/Dockerfile
!workspaces/test/dtaas/certs/README.md

# temp files for workspace
.workspace

# poetry files
dist/
build/
*.egg-info/
.coverage

workspaces/src/admin/config.env