if (typeof window !== 'undefined') {
  window.env = {
    REACT_APP_ENVIRONMENT: 'production',
    REACT_APP_URL: 'https://<your-domain>/',
    REACT_APP_URL_BASENAME: '',
    REACT_APP_URL_DTLINK: 'workspace-redirect/lab',
    REACT_APP_URL_LIBLINK: 'workspace-redirect/',
    REACT_APP_WORKBENCHLINK_VNCDESKTOP: 'workspace-redirect/tools/vnc/',
    REACT_APP_WORKBENCHLINK_VSCODE: 'workspace-redirect/tools/vscode/',
    REACT_APP_WORKBENCHLINK_JUPYTERLAB: 'workspace-redirect/lab',
    REACT_APP_WORKBENCHLINK_JUPYTERNOTEBOOK: '',
    REACT_APP_WORKBENCHLINK_LIBRARY_PREVIEW: '/preview/library',
    REACT_APP_WORKBENCHLINK_DT_PREVIEW: '/preview/digitaltwins',

    REACT_APP_CLIENT_ID: 'dtaas-client',
    REACT_APP_AUTH_AUTHORITY: 'https://<your-domain>/auth/realms/dtaas',
    REACT_APP_REDIRECT_URI: 'https://<your-domain>/library',
    REACT_APP_LOGOUT_REDIRECT_URI: 'https://<your-domain>/',
    REACT_APP_GITLAB_SCOPES: 'openid profile email',
  };
}
